<div class="container">
  <div class="mega-menu__wrapper">
    {% for block in blocks %}
      {% assign mega_menu_trigger = block.settings.mega_menu_trigger | handle | strip %}
    {% endfor %}
    <ul class="mega-menu__list list-unstyled focus-inset">
      {% for link in link.links %}
        <li>
          <a
            href="{{ link.url }}"
            class="mega-menu__link header__menu-item list-menu__item link link--text focus-inset link-hover-line-outer caption-large{% if link.current %} header__menu-item--active{% endif %}"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span>
              {{ link.title | escape }}
            </span>
          </a>
          {% if link.links != blank %}
            <ul class="mega-menu__submenu list-menu motion-reduce">
              {%- for link in link.links -%}
                <li>
                  <a
                    href="{{ link.url }}"
                    class="mega-menu__submenu-item header__menu-item list-menu__item link link--text link-hover-line-outer focus-inset caption-large{% if link.current %} header__menu-item--active{% endif %}"
                    {% if link.current %}
                      aria-current="page"
                    {% endif %}
                  >
                    <span>
                      {{ link.title | escape }}
                    </span>
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
  {% for block in blocks %}
    {% assign mega_menu_trigger = block.settings.mega_menu_trigger | handle | strip %}
    {% if link.handle == mega_menu_trigger %}
      {% if block.settings.show_mega_menu_1 %}
        <div class="mega-menu__item mega-menu__item--{{ block.settings.color_scheme_1 }}">
          <span class="mega-menu__overlay" style="opacity: {{ block.settings.overlay_opacity_1 }}"></span>
          {% if block.settings.image_1 != blank %}
            {%- capture sizes -%}
									(min-width: 1700px) 1700px, (min-width: 1420px) 1420px, (min-width: 1100px) 1100px, (min-width: 710px) 710px, calc(100vw - 30px)
								{%- endcapture -%}
            {{
              block.settings.image_1
              | image_url: width: block.settings.image_1.width
              | image_tag:
                loading: 'lazy',
                sizes: sizes,
                widths: '360, 550, 710, 1100, 1420, 1700, 1920',
                width: block.settings.image_1.width,
                class: 'mega-menu__item-image'
            }}
          {%- endif -%}
          {% if block.settings.heading_1 != blank %}
            <div class="mega-menu__item-heading h2">
              {{ block.settings.heading_1 }}
            </div>
          {%- endif -%}
          {% if block.settings.description_1 != blank %}
            <div class="mega-menu__item-description">
              {{ block.settings.description_1 }}
            </div>
          {%- endif -%}
          {%- if block.settings.show_button_1 and block.settings.button_label_1 != blank -%}
            <a
              {% if block.settings.button_link_1.url != blank %}
                href="{{ block.settings.button_link_1 }}"
              {% endif %}
              class="mega-menu__item-button button button--arrow button--{{ block.settings.button_style_1 }}"
              {% if block.settings.button_link_1.url == blank %}
                aria-disabled="true"
              {% endif %}
            >
              <span>
                <span>
                  {{ block.settings.button_label_1 | escape }}
									{% render 'icon-button-arrow' %}
                </span>
                <span>
                  {{ block.settings.button_label_1 | escape }}
									{% render 'icon-button-arrow' %}
                </span>
              </span>
            </a>
          {%- endif -%}
					<a
              {% if block.settings.button_link_1.url != blank %}
                href="{{ block.settings.button_link_1 }}"
              {% endif %}
              class="mega-menu__item-link-overlay"
              {% if block.settings.button_link_1.url == blank %}
                aria-disabled="true"
              {% endif %}
              aria-label="Promo banner"
            ></a>
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
