{% comment %}
	Renders a product card placeholder
	Usage:
{% render 'product-card-placeholder' %}
{% endcomment %}
{% assign placeholder_index = forloop.index | modulo: 6 | plus: 1 %} 

<div class="card-wrapper">

	<div class="card card--product" tabindex = "-1">
		<div class="card__inner">
			<div class="media media--transparent media--hover-effect" 
				{%- if media_size == 'landscape' -%} style="padding-bottom: 70%;"{%- endif -%}
				{%- if media_size == 'portrait' -%} style="padding-bottom: 130%;"{%- endif -%}
				{%- if media_size == 'square' -%} style="padding-bottom: 100%;"{%- endif -%}
			>
			{{ 'collection-' | append: placeholder_index | placeholder_svg_tag: 'placeholder-svg' }}
		</div>
	</div>
</div>

<div class="card-information">
	<div class="card-information__wrapper">
		{%- if show_vendor -%}
			<span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
			<div class="caption-with-letter-spacing subtitle card__vendor">
				{{ 'products.product.vendor' | t }}
			</div>
		{%- endif -%}
		<h3 class="card__title h5">
				{{ 'products.product.product_heading' | t }}
		</h3>
		{%- if show_desc -%}
			<div class="card__description">
				{{ 'products.product.product_description' | t }}
			</div>
		{%- endif -%}
		{% render 'price' %}
	</div>
</div>
</div>