<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="all">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="all">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="all">
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="all">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="all">
<link rel="stylesheet" href="{{ 'country-flag.css' | asset_url }}" media="all">
<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-badge.css' | asset_url }}" media="print" onload="this.media='all'">

{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{%- if settings.cart_type == "drawer" -%}
	{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
	{{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'country-flag.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-price.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-badge.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'component-article-card-small.css' | asset_url | stylesheet_tag }}
{{ 'component-card-horizontal.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
<script src="{{ 'header.js' | asset_url }}" defer="defer"></script>

<style>
	.header {
		min-height: 56px;
	}

	@media screen and (min-width: 990px) {
		.header {
			min-height: 64px;
		}
	}
	
	header-drawer {
		justify-self: start;
		margin-left: -0.4rem;
		margin-right: 1.2rem;
	}

	@media screen and (min-width: 990px) {
		header-drawer {
			display: none;
		}
	}

	.menu-drawer-container {
		display: flex;
	}

	.list-menu {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.list-menu--inline {
		display: inline-flex;
		flex-wrap: wrap;
	}

	summary.list-menu__item {
		padding-right: 2.7rem;
	}

	.list-menu__item {
		display: flex;
		align-items: center;
	}

	.list-menu__item--link {
		text-decoration: none;
		padding-bottom: 0.55rem;
		padding-top: 0.55rem;
	}

	@media screen and (min-width: 750px) {
		.list-menu__item--link {
			padding-bottom: 0.55rem;
			padding-top: 0.55rem;
		}
	}

	@media screen and (min-width: 990px) {
		.header__inline-menu .header__menu-item,
		.header__icon .header__icon-name {
			font-size: 0.95rem;
			letter-spacing: 0.14em;
			text-transform: uppercase;
		}
	}
</style>

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == "drawer" -%}
  <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
	<script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
	<symbol id="icon-search" viewBox="0 0 16 16" fill="none">
		<path d="M12.5233 11.4628L15.7355 14.6743L14.6743 15.7355L11.4628 12.5233C10.2678 13.4812 8.7815 14.0022 7.25 14C3.524 14 0.5 10.976 0.5 7.25C0.5 3.524 3.524 0.5 7.25 0.5C10.976 0.5 14 3.524 14 7.25C14.0022 8.7815 13.4812 10.2678 12.5233 11.4628ZM11.0188 10.9063C11.9706 9.92741 12.5022 8.61532 12.5 7.25C12.5 4.349 10.1503 2 7.25 2C4.349 2 2 4.349 2 7.25C2 10.1503 4.349 12.5 7.25 12.5C8.61532 12.5022 9.92741 11.9706 10.9063 11.0188L11.0188 10.9063Z" fill="currentColor"/>
	</symbol>

	<symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 11 11">
		<path d="M9.00568 0.823302L5.33333 4.4989L1.66099 0.823302L1.48421 0.646368L1.30736 0.823223L0.823223 1.30736L0.646368 1.48421L0.823302 1.66099L4.4989 5.33333L0.823302 9.00568L0.646368 9.18246L0.823223 9.35931L1.30736 9.84344L1.48421 10.0203L1.66099 9.84337L5.33333 6.16777L9.00568 9.84337L9.18246 10.0203L9.35931 9.84344L9.84344 9.35931L10.0203 9.18246L9.84337 9.00568L6.16777 5.33333L9.84337 1.66099L10.0203 1.48421L9.84344 1.30736L9.35931 0.823223L9.18246 0.646368L9.00568 0.823302Z" fill="currentColor" stroke="currentColor" stroke-width="0.5"/>
	</symbol>

	<symbol id="icon-close-small" class="icon icon-close-small" viewBox="0 0 12 13">
		<path d="M8.48627 9.32917L2.82849 3.67098" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
		<path d="M2.88539 9.38504L8.42932 3.61524" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
	</symbol>
</svg>

<{% if section.settings.sticky_header_type != 'none' %}sticky-header data-sticky-type="{{ section.settings.sticky_header_type }}"{% else %}div data-sticky-type="none"{% endif %} class="header-wrapper">
	<header class="header header--{{ section.settings.logo_position }} container container--header {% if section.settings.menu != blank %}header--has-menu{% endif %}">
		{%- if section.settings.menu != blank -%}
			<header-drawer data-breakpoint="tablet">
				<details class="menu-drawer-container">
					<summary class="header__icon header__icon--menu header__icon--summary link link--text focus-inset" aria-label="{{ 'sections.header.menu' | t }}">
            <span>
              {% render 'icon-hamburger' %}
							<span class="header__modal-close-button">
								{% render 'icon-close' %}
							</span>
            </span>
					</summary>
					<div id="menu-drawer" class="menu-drawer motion-reduce" tabindex="-1">
						<div class="menu-drawer__inner-container">
							<div class="menu-drawer__navigation-container">
								<nav class="menu-drawer__navigation">
									<ul class="menu-drawer__menu list-menu" role="list">
										{%- for link in section.settings.menu.links -%}
											<li>
												{%- if link.links != blank -%}
													<details>
														<summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
															{% if section.settings.enable_menu_item_first_level %}
																<a class="header__menu-link" href="{{link.url}}">
																	{{ link.title | escape }}
																</a>
															{% else %}
																{{ link.title | escape }}
															{% endif %}
															{% render 'icon-caret' %}
														</summary>
														<div id="link-{{ link.title | escape }}" class="menu-drawer__submenu motion-reduce" tabindex="-1">
															<div class="menu-drawer__inner-submenu">
																<button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
																	{% render 'icon-arrow' %}
																	{{ link.title | escape }}
																</button>
																<ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
																	{%- for childlink in link.links -%}
																		<li>
																			{%- if childlink.links == blank -%}
																				<a href="{{ childlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
																					{{ childlink.title | escape }}
																				</a>
																			{%- else -%}
																				<details>
																					<summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
																						{% if section.settings.enable_menu_item_first_level %}
																							<a class="header__menu-link" href="{{childlink.url}}">
																								{{ childlink.title | escape }}
																							</a>
																						{% else %}
																							{{ childlink.title | escape }}
																						{% endif %}
																						{% render 'icon-caret' %}
																					</summary>
																					<div id="childlink-{{ childlink.title | escape }}" class="menu-drawer__submenu motion-reduce">
																						<button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
																							{% render 'icon-arrow' %}
																							{{ childlink.title | escape }}
																						</button>
																						<ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
																							{%- for grandchildlink in childlink.links -%}
																								<li>
																									<a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
																										{{ grandchildlink.title | escape }}
																									</a>
																								</li>
																							{%- endfor -%}
																						</ul>
																					</div>
																				</details>
																			{%- endif -%}
																		</li>
																	{%- endfor -%}
																</ul>
															</div>
														</div>
														{% for block in section.blocks %}
															{% assign mega_menu_trigger = block.settings.mega_menu_trigger | handle | strip %}
															{% assign mega_menu_2_trigger = block.settings.mega_menu_2_trigger | handle | strip %}
															{% if link.handle == mega_menu_trigger %}
																{% if block.settings.show_mega_menu_1 %}
																	<div class="mega-menu__item mega-menu__item--{{ block.settings.color_scheme_1 }} {% if block.settings.enable_mobile_overlay_1 %}mega-menu__item--mobile-overlay{% endif %}">
																		<span
																			class="mega-menu__overlay"
																			style="opacity: {{ block.settings.overlay_opacity_1 }}"
																		></span>
																		{% if block.settings.image_1 != blank %}
																			{%- capture sizes -%}
																					(min-width: 1700px) 1700px, (min-width: 1420px) 1420px, (min-width: 1100px) 1100px, (min-width: 710px) 710px, calc(100vw - 30px)
																				{%- endcapture -%}
																			{{
																				block.settings.image_1
																				| image_url: width: block.settings.image_1.width
																				| image_tag:
																					sizes: sizes,
																					widths: '360, 550, 710, 1100, 1420, 1700, 1920',
																					width: block.settings.image_1.width,
																					class: 'mega-menu__item-image'
																			}}
																		{%- endif -%}
																		{% if block.settings.heading_1 != blank %}
																			<div class="mega-menu__item-heading h2">
																				{{ block.settings.heading_1 }}
																			</div>
																		{%- endif -%}
																		{% if block.settings.description_1 != blank %}
																			<div class="mega-menu__item-description">
																				{{ block.settings.description_1 }}
																			</div>
																		{%- endif -%}
																		{%- if block.settings.show_button_1 and block.settings.button_label_1 != blank -%}
																			<a
																				{% if block.settings.button_link_1.url != blank %}
																					href="{{ block.settings.button_link_1 }}"
																				{% endif %}
																				class="mega-menu__item-button button button--arrow button--{{ block.settings.button_style_1 }}"
																				{% if block.settings.button_link_1.url == blank %}
																					aria-disabled="true"
																				{% endif %}
																			>
																				<span>
																					<span>
																						{{ block.settings.button_label_1 | escape }}
																						{% render 'icon-button-arrow' %}
																					</span>
																					<span>
																						{{ block.settings.button_label_1 | escape }}
																						{% render 'icon-button-arrow' %}
																					</span>
																				</span>
																			</a>
																		{%- endif -%}
																	</div>
																{% endif %}
															{% elsif link.handle == mega_menu_2_trigger %}
																<ul class="mega-menu__collections list-unstyled">
																	{%- for collection in block.settings.select_collections -%}
																		<li class="mega-menu__collections-card">
																			<div class="card-wrapper">
																				{% liquid
																					if collection.id != collection_individual_id
																						case block.settings.image
																							when 'product_hover'
																								assign image_first = collection.products[0].images[1]
																								assign image_second = collection.products[0].images[0]
																								assign image_third = collection.featured_image
																							when 'product'
																								assign image_first = collection.products[0].images[0]
																								assign image_second = collection.featured_image
																								assign image_third = collection.products[0].images[1]
																							when 'collection'
																								assign image_first = collection.featured_image
																								assign image_second = collection.products[0].images[1]
																								assign image_third = collection.products[0].images[0]
																						endcase
																					endif
																				%}

																				{% if collection.id != collection_individual_id %}
																					{% if image_first != blank %}
																						{% assign collection_product_image = image_first %}
																					{% elsif image_second != blank %}
																						{% assign collection_product_image = image_second %}
																					{% else %}
																						{% assign collection_product_image = image_third %}
																					{% endif %}
																				{% else %}
																					{% assign collection_product_image = collection.featured_image %}
																				{% endif %}

																				<span
																					class="image-ratio image-ratio--landscape"
																				></span>

																				{%- if collection_product_image != blank -%}
																					<img
																						srcset="
																							{%- if collection_product_image.width >= 165 -%}{{ collection_product_image | img_url: '165x' }} 165w,{%- endif -%}
																							{%- if collection_product_image.width >= 360 -%}{{ collection_product_image | img_url: '360x' }} 360w,{%- endif -%}
																							{%- if collection_product_image.width >= 533 -%}{{ collection_product_image | img_url: '533x' }} 533w,{%- endif -%}
																							{%- if collection_product_image.width >= 720 -%}{{ collection_product_image | img_url: '720x' }} 720w,{%- endif -%}
																							{%- if collection_product_image.width >= 940 -%}{{ collection_product_image | img_url: '940x' }} 940w,{%- endif -%}
																							{%- if collection_product_image.width >= 1066 -%}{{ collection_product_image | img_url: '1066x' }} 1066w{%- endif -%},
																							{%- if collection_product_image.width >= 1100 -%}{{ collection_product_image | img_url: '1100x' }} 1100w,{%- endif -%}
																							{%- if collection_product_image.width >= 1290 -%}{{ collection_product_image | img_url: '1290x' }} 1290w,{%- endif -%}
																							{%- if collection_product_image.width >= 1440 -%}{{ collection_product_image | img_url: '1440x' }} 1440w,{%- endif -%}
																							{%- if collection_product_image.width >= 1600 -%}{{ collection_product_image | img_url: '1600x' }} 1600w,{%- endif -%}
																							{%- if collection_product_image.width >= 1920 -%}{{ collection_product_image | img_url: '1920x' }} 1920w{%- endif -%}
																						"
																						src="{{ collection_product_image | img_url: '533x' }}"
																						sizes="(min-width: 1100px) 1290px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
																						alt="{{ collection_product_image.alt | escape }}"
																						loading="lazy"
																						class="card-wrapper__image motion-reduce img-scale"
																						width="{{ collection_product_image.width }}"
																						height="{{ collection_product_image.height }}"
																						{%- if block.settings.image_fit == 'contain' -%}
																							style="object-fit: contain;"
																						{%- endif -%}
																						{%- if block.settings.image_fit == 'cover' -%}
																							style="object-fit: cover;"
																						{%- endif -%}
																					>
																				{% endif %}
																			</div>
																			<h3 class="collections-grid__title h3">
																				<a href="{{ collection.url | default: '#' }}" class="link-hover-line link-hover-arrow">
																					{{- collection.title -}}
																					{% render 'icon-button-arrow' %}
																				</a>
																			</h3>
																			<a href="{{ collection.url | default: '#' }}" class="mega-menu__collections-link"></a>
																		</li>
																	{%- endfor -%}
																</ul>
															{% endif %}
														{% endfor %}
													</details>
												{%- else -%}
													<a href="{{ link.url }}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
														{{ link.title | escape }}
													</a>
												{%- endif -%}
											</li>
										{%- endfor -%}
									</ul>
								</nav>
								{% if section.settings.enable_country_selector or section.settings.enable_language_selector %}
									<div class="menu-drawer__localization-wrapper">
										{%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
											<div class="header__localization">
												<noscript>
													{%- form 'localization', id: 'HeaderCountryFormNoScript', class: 'localization-form' -%}
														<div class="localization-form__select">
															<select class="localization-selector link" name="country_code" aria-labelledby="FooterCountryLabelNoScript">
																{%- for country in localization.available_countries -%}
																	<option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
																		{{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
																	</option>
																{%- endfor -%}
															</select>
															{% render 'icon-caret' %}
														</div>
														<button class="button button--small button--secondary">
															<span>
																<span>{{ 'localization.update_country' | t }}</span>
																<span>{{ 'localization.update_country' | t }}</span>
															</span>
														</button>
													{%- endform -%}
												</noscript>
												<localization-form>
													{%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
														<div class="no-js-hidden">
															<div class="disclosure">
																<button type="button" class="link-hover-line-outer header__localization-button disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="HeaderCountryList" aria-describedby="HeaderCountryLabel" aria-label="Localization">
																	<div style="display: inline" class="currency-flag" data-value="{{ localization.country.iso_code }}" aria-hidden="true"></div>
																	<span class="currency-country">{{ localization.country.iso_code }}</span>
																</button>
																<ul id="HeaderCountryList" role="list" class="disclosure__list list-unstyled" hidden>
																	{%- for country in localization.available_countries -%}
																		<li class="disclosure__item" tabindex="-1">
																			<a class="link link--text disclosure__link disclosure__link--flag link-hover-line-outer caption-large{% if country.iso_code == localization.country.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}" data-flag="{{ country.currency.iso_code }}">
																				<span class="disclosure__country-name">
																					{{ country.name }}
																				</span>
																				<span class="localization-form__currency">({{ country.currency.iso_code }} {{ country.currency.symbol }})</span>
																			</a>
																		</li>
																	{%- endfor -%}
																</ul>
															</div>
															<input dir="ltr" type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
														</div>
													{%- endform -%}
												</localization-form>
											</div>
										{%- endif -%}
	
										{%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
											<div class="header__localization header__localization--language">
												<noscript>
													{%- form 'localization',
														id: 'HeaderLanguageFormNoScript',
														class: 'localization-form'
													-%}
														<div class="localization-form__select">
															<h2
																class="visually-hidden"
																id="HeaderLanguageLabelNoScript"
															>
																{{ 'localization.language_label' | t }}
															</h2>
															<select
																class="localization-selector link"
																name="locale_code"
																aria-labelledby="HeaderLanguageLabelNoScript"
															>
																{%- for language in localization.available_languages -%}
																	<option
																		value="{{ language.iso_code }}"
																		lang="{{ language.iso_code }}"
																		{%- if language.iso_code
																				== localization.language.iso_code
																		%}
																			selected
																		{% endif %}
																	>
																		{{ language.endonym_name | capitalize }}
																	</option>
																{%- endfor -%}
															</select>
															{% render 'icon-caret' %}
														</div>
														<button class="button button--primary">
															{{ 'localization.update_language' | t }}
														</button>
													{%- endform -%}
												</noscript>
												<localization-form>
													{%- form 'localization',
														id: 'HeaderLanguageForm',
														class: 'localization-form'
													-%}
														<div class="no-js-hidden">
															<div class="disclosure">
																<button
																	type="button"
																	class="disclosure__button header__localization-lang-button localization-form__select localization-selector link link--text link-hover-line-outer"
																	aria-expanded="false"
																	aria-controls="HeaderLanguageList"
																	aria-describedby="HeaderLanguageLabel"
																>
																	<span class="value">
																		{{-
																			localization.language.iso_code
																			| upcase
																		}}
																	</span>
																	{% render 'icon-caret' -%}
																</button>
																<ul
																	id="HeaderLanguageList"
																	role="list"
																	class="disclosure__list list-unstyled"
																	hidden
																>
																	{%- for language in localization.available_languages -%}
																		<li class="disclosure__item" tabindex="-1">
																			<a
																				class="link link--text disclosure__link link-hover-line-outer caption-large{% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %} focus-inset"
																				href="#"
																				hreflang="{{ language.iso_code }}"
																				lang="{{ language.iso_code }}"
																				{% if language.iso_code
																						== localization.language.iso_code
																				%}
																					aria-current="true"
																				{% endif %}
																				data-value="{{ language.iso_code }}"
																			>
																				<span>
																					{{ language.endonym_name | capitalize }}
																				</span>
																			</a>
																		</li>
																	{%- endfor -%}
																</ul>
															</div>
															<input
																dir="ltr"
																type="hidden"
																name="locale_code"
																value="{{ localization.language.iso_code }}"
															>
														</div>
													{%- endform -%}
												</localization-form>
											</div>
										{%- endif -%}
									</div>
								{%- endif -%}
								<div class="menu-drawer__utility-links">
									{% render 'header-account', in_drawer: true %}

									<ul class="list list-social list-unstyled" role="list">
										{%- if settings.social_twitter_link != blank -%}
											<li class="list-social__item">
												<a {% if settings.new_tab %}
													target="_blank"
												{% endif %} href="{{ settings.social_twitter_link }}" class="link link--text list-social__link" >
													{%- render 'icon-twitter' -%}
													<span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
												</a>
											</li>
										{%- endif -%}
										{%- if settings.social_facebook_link != blank -%}
											<li class="list-social__item">
												<a           {% if settings.new_tab %}
            target="_blank"
          {% endif %} href="{{ settings.social_facebook_link }}" class="link link--text list-social__link" >
													{%- render 'icon-facebook' -%}
													<span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
												</a>
											</li>
										{%- endif -%}
										{%- if settings.social_pinterest_link != blank -%}
											<li class="list-social__item">
												<a           {% if settings.new_tab %}
            target="_blank"
          {% endif %} href="{{ settings.social_pinterest_link }}" class="link link--text list-social__link" >
													{%- render 'icon-pinterest' -%}
													<span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
												</a>
											</li>
										{%- endif -%}
										{%- if settings.social_instagram_link != blank -%}
											<li class="list-social__item">
												<a           {% if settings.new_tab %}
            target="_blank"
          {% endif %} href="{{ settings.social_instagram_link }}" class="link link--text list-social__link" >
													{%- render 'icon-instagram' -%}
													<span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
												</a>
											</li>
										{%- endif -%}
										{%- if settings.social_tiktok_link != blank -%}
											<li class="list-social__item">
												<a           {% if settings.new_tab %}
            target="_blank"
          {% endif %} href="{{ settings.social_tiktok_link }}" class="link link--text list-social__link" >
													{%- render 'icon-tiktok' -%}
													<span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
												</a>
											</li>
										{%- endif -%}
										{%- if settings.social_tumblr_link != blank -%}
											<li class="list-social__item">
												<a           {% if settings.new_tab %}
            target="_blank"
          {% endif %} href="{{ settings.social_tumblr_link }}" class="link link--text list-social__link" >
													{%- render 'icon-tumblr' -%}
													<span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
												</a>
											</li>
										{%- endif -%}
										{%- if settings.social_snapchat_link != blank -%}
											<li class="list-social__item">
												<a           {% if settings.new_tab %}
            target="_blank"
          {% endif %} href="{{ settings.social_snapchat_link }}" class="link link--text list-social__link" >
													{%- render 'icon-snapchat' -%}
													<span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
												</a>
											</li>
										{%- endif -%}
										{%- if settings.social_youtube_link != blank -%}
											<li class="list-social__item">
												<a           {% if settings.new_tab %}
            target="_blank"
          {% endif %} href="{{ settings.social_youtube_link }}" class="link link--text list-social__link" >
													{%- render 'icon-youtube' -%}
													<span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
												</a>
											</li>
										{%- endif -%}
										{%- if settings.social_vimeo_link != blank -%}
											<li class="list-social__item">
												<a           {% if settings.new_tab %}
            target="_blank"
          {% endif %} href="{{ settings.social_vimeo_link }}" class="link link--text list-social__link" >
													{%- render 'icon-vimeo' -%}
													<span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
												</a>
											</li>
										{%- endif -%}
									</ul>
								</div>
							</div>
						</div>
					</div>
				
				</details>
			</header-drawer>
		{%- endif -%}

		{%- if section.settings.enable_fullscreen_menu -%}
			{% render 'offcanvas-menu' %}
		{%- endif -%} 

		{%- if request.page_type == 'index' -%}
			<h1 class="header__heading">
				{%- endif -%}
				<a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
					{%- if section.settings.logo != blank -%}
						{%- assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio -%}
						{%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
						{%- assign image_size_2x = section.settings.logo_width | times: 2 -%}
						{% capture srcset %}
							{{ section.settings.logo | image_url: width: section.settings.logo_width }}, {{ section.settings.logo | image_url: width: image_size_2x }} 2x
						{% endcapture %}
						{{ section.settings.logo | image_url: width: section.settings.logo_width | image_tag:
							class: 'header__heading-logo',
							srcset: srcset,
							height: logo_height,
							width: section.settings.logo_width,
							alt: logo_alt
						}}
						{%- if section.settings.logo_2 != blank -%}
							{% capture srcset %}
								{{ section.settings.logo_2 | image_url: width: section.settings.logo_width }}, {{ section.settings.logo_2 | image_url: width: image_size_2x }} 2x
							{% endcapture %}
							{{ section.settings.logo_2 | image_url: width: section.settings.logo_width | image_tag:
								class: 'header__heading-logo header__heading-logo--overlay',
								srcset: srcset,
								height: logo_height,
								width: section.settings.logo_width,
								alt: logo_alt
							}}
						{%- endif -%}
					{%- else -%}
						<span class="h5" style="max-width:{{ section.settings.logo_width }}px">{{ shop.name }}</span>
					{%- endif -%}
				</a>
				{%- if request.page_type == 'index' -%}
			</h1>
		{%- endif -%}

		<nav class="header__inline-menu header__inline-menu--js">
			{%- if section.settings.menu != blank -%}
				<ul class="list-menu list-menu--inline" role="list">
					{%- for link in section.settings.menu.links -%}
						{% assign mega_menu = false %}
						{% assign mega_menu_2 = false %}
						{% assign mega_submenu = false %}
							{%- if link.links != blank -%}
								{% if section.blocks.size > 0 %}
									{% for block in section.blocks %}
										{% liquid
											assign mega_menu_trigger = block.settings.mega_menu_trigger | handle | strip
											assign mega_menu_2_trigger = block.settings.mega_menu_2_trigger | handle | strip

											if link.handle == mega_menu_trigger
												assign mega_menu = true
												assign mega_menu_2 = false
												assign shopify_attributes = block.shopify_attributes
											elsif link.handle == mega_menu_2_trigger
												assign mega_menu_2 = true
												assign mega_menu = false
												assign shopify_attributes = block.shopify_attributes
											endif
										%}

										{% assign mega_submenu_trigger = block.settings.mega_submenu_trigger | handle | strip %}

										{% if link.handle == mega_submenu_trigger and block.type == 'mega_submenu' and link.links != blank %}
											{% assign mega_submenu = true %}
										{% endif %}
									{% endfor %}
								{% endif %}
								
								<li class="{% if mega_menu or mega_menu_2 or mega_submenu %}list-menu--megamenu{% endif %} {% if mega_submenu %} list-menu--megasubmenu{% endif %}" {{ shopify_attributes }}>
									<span class="header__menu-item link-hover-line-outer list-menu__item link focus-inset">
										<span class="link-hover-line-outer {%- if link.active %} header__active-menu-item{% endif %} "title="{{ link.title | escape }}">
											{% if section.settings.enable_menu_item_first_level %}
												<a class="header__menu-link" href="{{link.url}}">
													{{ link.title | escape }}
												</a>
											{% else %}
												{{ link.title | escape }}
											{% endif %}
										</span>
										{% render 'icon-caret' %}
									</span>
									{% if mega_menu %}
										<div class="header__mega-menu mega-menu color-background-1">
											{% render 'mega-menu', link: link, blocks: section.blocks %}
										</div>
									{% elsif mega_menu_2 %}
										<div class="header__mega-menu mega-menu mega-menu-collections color-background-1">
										{% render 'mega-menu-collections', link: link, blocks: section.blocks %}
										</div>
									{% elsif mega_submenu %}
										{% render 'header-mega-submenu', link: link, section: section %}
									{% else %}
										{% render 'submenu', link: link, enable_menu_item_first_level: section.settings.enable_menu_item_first_level %}
									{% endif %}
								</li>
							{%- else -%}
								<li>
									<a href="{{ link.url }}" class="header__menu-item link-hover-line-outer list-menu__item link focus-inset"{% if link.current %} aria-current="page"{% endif %} aria-label="{{ link.title | escape }}">
										<span {%- if link.active %} class="header__active-menu-item"{% endif %} title="{{ link.title | escape }}">
											{{ link.title | escape }}
										</span>
									</a>
								</li>
							{%- endif -%}
					{%- endfor -%}
				</ul>
			{%- endif -%}
		</nav>

		<div class="header__column">
			<div class="header__icons">

				{%- assign dark_mode_toggle = settings.dark_mode_toggle -%}
				{%- assign color_scheme = settings.color_scheme -%}
				{%- if dark_mode_toggle -%}
					<div class="header__toggle-scheme">
						<button class="header__toggle-scheme-item header__toggle-scheme-item--light link-hover-line-outer" aria-label="{{- 'general.dark_mode.light' | t -}}">
							{% render 'icon-light-mode' %}
							<span>{{- 'general.dark_mode.light' | t -}}</span>
						</button>
						<button class="header__toggle-scheme-item header__toggle-scheme-item--dark link-hover-line-outer" aria-label="{{- 'general.dark_mode.dark' | t -}}">
							{% render 'icon-dark-mode' %}
							<span>{{- 'general.dark_mode.dark' | t -}}</span>
						</button>
					</div>
				{%- endif -%}

				<noscript>
					{%- if section.settings.enable_search -%}
						<div class="header__search">
							<div class="header__details">
								<a href="{{ routes.search_url }}" class="header__icon header__icon--search header__icon--summary link-hover-line-outer focus-inset modal__toggle" title="{{ 'general.search.search' | t }}" aria-label="{{ 'general.search.search' | t }}">
									<span>
										<svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
											<use href="#icon-search">
										</svg>
									</span>
									<span class="header__icon-name" title="{{- 'general.search.search' | t -}}">
										{{- 'general.search.search' | t -}}
									</span>
								</a>
							</div>
						</div>
					{%- endif -%}
				</noscript>
				
				{%- if section.settings.enable_search -%}
					<details-modal class="header__search no-js-hidden">
						<details class="header__details">
							<summary class="link-hover-line-outer header__icon header__icon--search header__icon--summary focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
								<svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
									<use href="#icon-search">
								</svg>
								<span class="header__icon-name" title="{{- 'general.search.search' | t -}}">
								{{- 'general.search.search' | t -}}
								</span>
							</summary>
							<div class="search-modal modal__content" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
								<div class="search-modal__overlay"></div>
								<div class="search-modal__item">
									<div class="search-modal__content container" tabindex="-1">
										{%- if settings.predictive_search_enabled -%}
											<predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
										{%- endif -%}
											<form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
												<div class="search__form-inner">
												{%- if section.settings.show_collection_card == blank and section.settings.show_items == blank and section.settings.show_articles == blank -%}
													<div class="field__without-items">
														<div class="field">
															<input dir="ltr" class="search__input field__input" 
																id="Search-In-Modal" 
																type="search" 
																name="q" 
																value="{{ search.terms | escape }}"
																placeholder="{{ 'general.search.placeholder' | t }}"
																{%- if settings.predictive_search_enabled -%}
																	role="combobox"
																	aria-expanded="false"
																	aria-owns="predictive-search-results-list"
																	aria-controls="predictive-search-results-list"
																	aria-haspopup="listbox"
																	aria-autocomplete="list"
																	autocorrect="off"
																	autocomplete="off"
																	autocapitalize="off"
																	spellcheck="false"
																{%- endif -%}
															>
															<label class="field__label" for="Search-In-Modal" placeholder="{{ 'general.search.placeholder' | t }}"></label>
															<input dir="ltr" type="hidden" name="options[prefix]" value="last">

														</div>
														{%- if settings.predictive_search_enabled -%}
															<div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
																<div class="predictive-search__loading-state">
																	{% render 'icon-spinner' %}
																</div>
															</div>
															<span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
														{%- endif -%}
													</div>
												{%- else -%}
													<div class="field">
														<input dir="ltr" class="search__input field__input color-background-2" 
															id="Search-In-Modal" 
															type="search" 
															name="q" 
															value="{{ search.terms | escape }}"
															placeholder="{{ 'general.search.placeholder' | t }}"
															{%- if settings.predictive_search_enabled -%}
																role="combobox"
																aria-expanded="false"
																aria-owns="predictive-search-results-list"
																aria-controls="predictive-search-results-list"
																aria-haspopup="listbox"
																aria-autocomplete="list"
																autocorrect="off"
																autocomplete="off"
																autocapitalize="off"
																spellcheck="false"
															{%- endif -%}
														>
														<label class="field__label" for="Search-In-Modal">{{ 'general.search.header_placeholder' | t }}</label>
														<input dir="ltr" type="hidden" name="options[prefix]" value="last">
														<button class="search__button button button--primary" aria-label="{{ 'general.search.search' | t }}" type="submit">
														<span>
															<span>
																{{ 'general.search.search' | t }}
															</span>
															<span>
																{{ 'general.search.search' | t }}
															</span>
														</span>
													</button>

														{%- if settings.predictive_search_enabled -%}
															<div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
																<div class="predictive-search__loading-state">
																	{% render 'icon-spinner' %}
																</div>
															</div>
															<span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
														{%- endif -%} 
													</div>
												{%- endif -%}
												</div>

												
											</form>
										{%- if settings.predictive_search_enabled -%}
											</predictive-search>
										{%- endif -%}
										{%- if section.settings.show_collection_card != blank -%}
											{%- if section.settings.collection_list != blank -%}
												<div class="search__categories">
													<div class="search__categories-wrapper">
														<ul class="search__categories-list" role="list">
															{%- for collection in section.settings.collection_list -%}
																<li class="search__categories-item">
																	<a class="search__categories-link h4" {% if collection.all_products_count > 0 %} href="{{ collection.url }}"{% endif %}>
																	{{ collection.title }}
																</a>
																</li>
															{%- endfor -%}
														</ul>
													</div>
												</div>
											{%- endif -%}
										{%- endif -%}
									</div>
									{%- if section.settings.show_items != blank -%}
										<div class="container container--header search__line">
											<hr>
										</div>
										<div class="container search__promo-block">
											<div class="search__items">
												<div class="search__subtitle subtitle">{{ 'sections.header.popular_items' | t }}</div>
												<div class="search__products">
													<ul class="search__items-list featured-products__products-list--horizontal">
														{%- for product in section.settings.product_list -%}
															<li class="search__items-item featured-products__products-item--horizontal">
																{% render 'product-card-horizontal',
																	product_card_product: product,
																	media_size: section.settings.image_ratio,
																	media_fit: section.settings.image_fit,
																	show_secondary_image: section.settings.show_secondary_image,
																	show_vendor: section.settings.show_vendor,
																	show_sku: section.settings.show_sku
																%}
															</li>
														{%- endfor -%}
													</ul>
												</div>
											</div>
										</div>
									{%- endif -%}
								</div>
							</div>
						</details>
					</details-modal>
				{%- endif -%}

				{%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
					<div class="header__localization">
						<noscript>
							{%- form 'localization', id: 'HeaderCountryFormNoScript', class: 'localization-form' -%}
								<div class="localization-form__select">
									<select class="localization-selector link" name="country_code" aria-labelledby="FooterCountryLabelNoScript">
										{%- for country in localization.available_countries -%}
											<option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
												{{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
											</option>
										{%- endfor -%}
									</select>
									{% render 'icon-caret' %}
								</div>
								<button class="button button--small button--secondary">
									<span>
										<span>{{ 'localization.update_country' | t }}</span>
										<span>{{ 'localization.update_country' | t }}</span>
									</span>
								</button>
							{%- endform -%}
						</noscript>
						<localization-form>
							{%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
								<div class="no-js-hidden">
									<div class="disclosure">
										<button type="button" class="link-hover-line-outer header__localization-button disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="HeaderCountryList" aria-describedby="HeaderCountryLabel" aria-label="Localization">
											<div style="display: inline" class="currency-flag" data-value="{{ localization.country.iso_code }}" aria-hidden="true"></div>
											<span class="currency-country">{{ localization.country.iso_code }}</span>
										</button>
										<ul id="HeaderCountryList" role="list" class="disclosure__list list-unstyled" hidden>
											{%- for country in localization.available_countries -%}
												<li class="disclosure__item" tabindex="-1">
													<a class="link link--text disclosure__link disclosure__link--flag link-hover-line-outer caption-large{% if country.iso_code == localization.country.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}" data-flag="{{ country.currency.iso_code }}">
														<span class="disclosure__country-name">
															{{ country.name }}
														</span>
														<span class="localization-form__currency">({{ country.currency.iso_code }} {{ country.currency.symbol }})</span>
													</a>
												</li>
											{%- endfor -%}
										</ul>
									</div>
									<input dir="ltr" type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
								</div>
							{%- endform -%}
						</localization-form>
					</div>
				{%- endif -%}

				{%- if section.settings.enable_language_selector
					and localization.available_languages.size > 1
				-%}
					<div class="header__localization header__localization--language">
						<noscript>
							{%- form 'localization',
								id: 'HeaderLanguageFormNoScript',
								class: 'localization-form'
							-%}
								<div class="localization-form__select">
									<h2
										class="visually-hidden"
										id="HeaderLanguageLabelNoScript"
									>
										{{ 'localization.language_label' | t }}
									</h2>
									<select
										class="localization-selector link"
										name="locale_code"
										aria-labelledby="HeaderLanguageLabelNoScript"
									>
										{%- for language in localization.available_languages -%}
											<option
												value="{{ language.iso_code }}"
												lang="{{ language.iso_code }}"
												{%- if language.iso_code
														== localization.language.iso_code
												%}
													selected
												{% endif %}
											>
												{{ language.endonym_name | capitalize }}
											</option>
										{%- endfor -%}
									</select>
									{% render 'icon-caret' %}
								</div>
								<button class="button button--primary">
									{{ 'localization.update_language' | t }}
								</button>
							{%- endform -%}
						</noscript>
						<localization-form>
							{%- form 'localization',
								id: 'HeaderLanguageForm',
								class: 'localization-form'
							-%}
								<div class="no-js-hidden">
									<div class="disclosure">
										<button
											type="button"
											class="disclosure__button localization-form__select localization-selector link link--text link-hover-line-outer"
											aria-expanded="false"
											aria-controls="HeaderLanguageList"
											aria-describedby="HeaderLanguageLabel"
										>
											<span class="value">
												{{-
													localization.language.iso_code
													| upcase
												}}
											</span>
											{% render 'icon-caret' -%}
										</button>
										<ul
											id="HeaderLanguageList"
											role="list"
											class="disclosure__list list-unstyled"
											hidden
										>
											{%- for language in localization.available_languages -%}
												<li class="disclosure__item" tabindex="-1">
													<a
														class="link link--text disclosure__link link-hover-line-outer caption-large{% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %} focus-inset"
														href="#"
														hreflang="{{ language.iso_code }}"
														lang="{{ language.iso_code }}"
														{% if language.iso_code
																== localization.language.iso_code
														%}
															aria-current="true"
														{% endif %}
														data-value="{{ language.iso_code }}"
													>
														<span>
															{{ language.endonym_name | capitalize }}
														</span>
													</a>
												</li>
											{%- endfor -%}
										</ul>
									</div>
									<input
										type="hidden"
										name="locale_code"
										value="{{ localization.language.iso_code }}"
									>
								</div>
							{%- endform -%}
						</localization-form>
					</div>
				{%- endif -%}

				{% render 'header-account' %}

				{%- if section.settings.enable_fullscreen_menu == false -%}
					<a href="{{ routes.cart_url }}" class=" {% if request.page_type != 'cart' %}header__cart{% endif %} {%- if cart.item_count < 1 -%}header__cart--empt	{% endif %} header__icon header__icon--cart link link--text focus-inset" id="cart-icon-bubble" aria-label="{{ 'accessibility.cart_link' | t }}">
						{%- render 'icon-cart' -%}
						<span class="header__icon-name header__icon-name--cart">Bag</span>
						<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
						{%- if cart != empty -%}
							<div class="cart-count-bubble">
								{%- if cart.item_count < 100 -%}
									<span aria-hidden="true">{{ cart.item_count }}</span>
								{%- endif -%}
								<span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
							</div>
						{%- endif -%}
					</a>
				{%- endif -%}

			</div>
		</div>
		{%- if section.settings.enable_fullscreen_menu -%}
			<a href="{{ routes.cart_url }}" class=" {% if request.page_type != 'cart' %}header__cart{% endif %} {%- if cart.item_count < 1 -%}header__cart--empty{% endif %} header__icon header__icon--cart link link--text focus-inset" id="cart-icon-bubble" aria-label="{{ 'accessibility.cart_link' | t }}">
				{%- render 'icon-cart' -%}
				<span class="header__icon-name header__icon-name--cart">Bag</span>
				<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
				{%- if cart != empty -%}
					<div class="cart-count-bubble">
						{%- if cart.item_count < 100 -%}
							<span aria-hidden="true">{{ cart.item_count }}</span>
						{%- endif -%}
						<span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
					</div>
				{%- endif -%}
			</a>
		{%- endif -%}
	</header>
</{% if section.settings.sticky_header_type != 'none' %}sticky-header{% else %}div{% endif %}>

{% javascript %}
class StickyHeader extends HTMLElement {
constructor() {
super();
}

connectedCallback() {
this.header = document.querySelector('.shopify-section-header');
this.headerWrapper = document.querySelector('.header-wrapper')
this.headerIsAlwaysSticky = this.getAttribute('data-sticky-type') === 'always';
this.headerBounds = {};
this.currentScrollTop = 0;
this.preventReveal = false;

//if (this.headerIsAlwaysSticky) {
//this.header.classList.add('shopify-section-header-sticky');
//this.header.classList.add('always-fixed');
//};

this.onScrollHandler = this.onScroll.bind(this);
this.hideHeaderOnScrollUp = () => this.preventReveal = true;
this.searchOverlay = document.querySelector('.search-modal__overlay');

	if (this.searchOverlay) {
		this.searchOverlay.addEventListener('click', function(){
			const searchModal = document.querySelector('details-modal');
			searchModal.close();
		})
	}

this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
window.addEventListener('scroll', this.onScrollHandler, false);

this.createObserver();
}

disconnectedCallback() {
this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
window.removeEventListener('scroll', this.onScrollHandler);
}

createObserver() {
let observer = new IntersectionObserver((entries, observer) => {
this.headerBounds = entries[0].intersectionRect;
observer.disconnect();
});

observer.observe(this.header);
}

onScroll() {
const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

if (this.headerIsAlwaysSticky && scrollTop > this.header.offsetHeight + 50) {
	this.header.classList.add('shopify-section-header-sticky');
};

if (this.headerIsAlwaysSticky && scrollTop < this.header.offsetHeight / 2) {
	this.header.classList.remove('shopify-section-header-sticky');
};
if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
if (this.preventHide) return;
requestAnimationFrame(this.hide.bind(this));
} else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
if (!this.preventReveal) {
requestAnimationFrame(this.reveal.bind(this));
}else {
window.clearTimeout(this.isScrolling);

this.isScrolling = setTimeout(() => {
this.preventReveal = false;
}, 66);

requestAnimationFrame(this.hide.bind(this));
}
} else if (scrollTop <= this.headerBounds.top) {
requestAnimationFrame(this.reset.bind(this));
}

this.currentScrollTop = scrollTop;
}

hide() {
if (this.headerIsAlwaysSticky) return;
this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
this.closeMenuDisclosure();
this.closeSearchModal();
}

reveal() {
if (this.headerIsAlwaysSticky) return;
this.header.classList.add('shopify-section-header-sticky', 'animate');
this.header.classList.add('shopify-section-header-sticky', 'animate');
this.header.classList.remove('shopify-section-header-hidden');
}

reset() {
if (this.headerIsAlwaysSticky) return;
this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
}

closeMenuDisclosure() {
this.disclosures = this.disclosures || this.header.querySelectorAll('details-disclosure');
this.disclosures.forEach(disclosure => disclosure.close());
}

closeSearchModal() {
this.searchModal = this.searchModal || this.header.querySelector('details-modal');
this.searchModal.close(false);
}
}

customElements.define('sticky-header', StickyHeader);

{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
{% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }

</script>

<script>
	const calcHeader = () => {
		const header = document.querySelector('.shopify-section-header');
		const headerObserver = new ResizeObserver(entries => {
			const headerHeight = header.getBoundingClientRect().height;
			document.documentElement.style.setProperty('--header-height', `${headerHeight}px`);
		});
		headerObserver.observe(header);
	}

	calcHeader();
	
	document.addEventListener('shopify:section:load', function () {
		calcHeader();
	});

</script>

{%- if request.page_type == 'index' -%}
	{% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
	<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
	</script>
{%- endif -%}

{% schema %}
{
	"name": "t:sections.header.name",
	"class": "shopify-section-header",
	"max_blocks": 6,
	"settings": [
		{
			"type": "range",
			"id": "height",
			"min": 90,
			"max": 200,
			"step": 5,
			"default": 130,
			"label": "t:sections.header.settings.height.label",
			"info": "t:sections.header.settings.height.info"
		},
		{
			"type": "image_picker",
			"id": "logo",
			"label": "t:sections.header.settings.logo.label"
		},
		{
			"type": "image_picker",
			"id": "logo_2",
			"label": "t:sections.header.settings.logo_2.label",
			"info": "t:sections.header.settings.logo_2.info"
		},
		{
			"type": "range",
			"id": "logo_width",
			"min": 50,
			"max": 350,
			"step": 5,
			"default": 90,
			"unit": "t:sections.header.settings.logo_width.unit",
			"label": "t:sections.header.settings.logo_width.label"
		},
		{
			"type": "select",
			"id": "logo_position",
			"options": [
				{
					"value": "center",
					"label": "t:sections.header.settings.logo_position.options__1.label"
				},
				{
					"value": "left",
					"label": "t:sections.header.settings.logo_position.options__2.label"
				}
			],
			"default": "left",
			"label": "t:sections.header.settings.logo_position.label"
		},
		{
			"type": "link_list",
			"id": "menu",
			"default": "main-menu",
			"label": "t:sections.header.settings.menu.label",
			"info": "t:sections.header.settings.menu.info"
		},
		{
			"type": "checkbox",
			"id": "enable_fullscreen_menu",
			"default": true,
			"label": "t:sections.header.settings.enable_fullscreen_menu.label"
		},
		{
			"type": "link_list",
			"id": "menu_2",
			"default": "main-menu",
			"label": "t:sections.header.settings.menu_2.label",
			"info": "t:sections.header.settings.menu_2.info"
		},
		{
			"type": "checkbox",
			"id": "enable_country_selector",
			"default": true,
			"label": "t:sections.header.settings.enable_country_selector.label"
		},
		{
			"type": "checkbox",
			"id": "enable_language_selector",
			"default": true,
			"label": "t:sections.header.settings.enable_language_selector.label"
		},
		{
			"type": "checkbox",
			"id": "enable_menu_item_first_level",
			"default": false,
			"label": "t:sections.header.settings.enable_menu_item_first_level_clickable.label"
		},
		{
			"type": "select",
			"id": "sticky_header_type",
			"options": [
				{
					"value": "none",
					"label": "t:sections.header.settings.sticky_header_type.options__1.label"
				},
				{
					"value": "on-scroll-up",
					"label": "t:sections.header.settings.sticky_header_type.options__2.label"
				},
				{
					"value": "always",
					"label": "t:sections.header.settings.sticky_header_type.options__3.label"
				}
			],
			"default": "on-scroll-up",
			"label": "t:sections.header.settings.sticky_header_type.label"
		},
		{
			"type": "header",
			"content": "t:sections.header.settings.header__account.content"
		},
		{
			"type": "checkbox",
			"id": "enable_account_btn",
			"default": true,
			"label": "t:sections.header.settings.enable_account_btn.label"
		},
		{
			"type": "select",
			"id": "account_modal_type",
			"label": "t:sections.header.settings.account_modal_type.label",
			"options": [
				{
					"value": "theme_based",
					"label": "t:sections.header.settings.theme-based.label"
				},
				{
					"value": "shopify_based",
					"label": "t:sections.header.settings.shopify-based.label"
				}
			],
			"default": "shopify_based",
			"visible_if": "{{ section.settings.enable_account_btn == true }}"
		},
		{
			"type": "link_list",
			"id": "customer_account_menu",
			"label": "t:sections.header.settings.customer_account_menu.label",
			"default": "customer-account-main-menu",
			"visible_if": "{{ section.settings.enable_account_btn and section.settings.account_modal_type == 'shopify_based' }}"
		},
		{
			"type": "paragraph",
			"content": "t:sections.header.settings.account_info.content",
			"visible_if": "{{ section.settings.enable_account_btn == true }}"
		},
		{
			"type": "header",
			"content": "t:sections.header.settings.header.content"
		},
		{
			"type": "checkbox",
			"id": "enable_search",
			"default": true,
			"label": "t:sections.header.settings.enable_search.label",
			"info": "t:sections.header.settings.enable_search.info"
		},
		{
			"type": "checkbox",
			"id": "show_collection_card",
			"default": false,
			"label": "t:sections.header.settings.show_collection_card.label",
			"info": "t:sections.header.settings.show_collection_card.info"
		},
		{
			"type": "collection_list",
			"id": "collection_list",
			"label": "t:sections.header.settings.collection_list.label",
			"limit": 12
		},
		{
			"type": "checkbox",
			"id": "show_items",
			"default": false,
			"label": "t:sections.header.settings.show_items.label",
			"info": "t:sections.header.settings.show_items.info"
		},
		{
      "type": "header",
      "content": "t:sections.header.settings.header_1.content"
    },
		{
			"type": "product_list",
			"id": "product_list",
			"limit": 3,
      "label": "t:sections.header.settings.product_list.label"
    },
		{
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "landscape",
          "label": "t:sections.header.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.header.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.header.settings.image_ratio.options__3.label"
        }
      ],
      "default": "portrait",
      "label": "t:sections.header.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_fit",
			"label": "t:sections.header.settings.image_fit.label",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.header.settings.image_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.header.settings.image_fit.options__2.label"
        }
      ],
      "default": "cover"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.header.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.header.settings.show_vendor.label"
    },
		{
			"type": "checkbox",
			"id": "show_sku",
			"default": false,
			"label": "t:sections.header.settings.show_sku.label"
		}
	],
	"blocks": [
		{
			"type": "aside",
			"limit": 1,
			"name": "t:sections.header.blocks.aside.name",
			"settings": [
				{
					"type": "checkbox",
					"id": "show_social",
					"default": false,
					"label": "t:sections.header.blocks.aside.settings.show_social.label"
				},
				{
					"type": "header",
					"content": "t:sections.header.blocks.aside.settings.aside_header_1.content"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "t:sections.header.blocks.aside.settings.image.label"
				},
				{
					"type": "text",
					"id": "heading",
					"default": "t:sections.header.blocks.aside.settings.heading.default",
					"label": "t:sections.header.blocks.aside.settings.heading.label",
					"info": "t:sections.header.blocks.aside.settings.heading.info"
				},
				{
					"type": "text",
					"id": "description",
					"default": "t:sections.header.blocks.aside.settings.description.default",
					"label": "t:sections.header.blocks.aside.settings.description.label",
					"info": "t:sections.header.blocks.aside.settings.description.info"
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "t:sections.header.blocks.aside.settings.button_link.label"
				},
				{
					"type": "text",
					"id": "button_label",
					"default": "t:sections.header.blocks.aside.settings.button_label.default",
					"label": "t:sections.header.blocks.aside.settings.button_label.label"
				},
				{
					"type": "select",
					"id": "button_style",
					"options": [
						{
							"value": "primary",
							"label": "t:sections.header.blocks.aside.settings.button_style.options__1.label"
						},
						{
							"value": "secondary",
							"label": "t:sections.header.blocks.aside.settings.button_style.options__2.label"
						},
						{
							"value": "tertiary",
							"label": "t:all.button.button_style.options__3.label"
						}
					],
					"default": "secondary",
					"label": "t:sections.header.blocks.aside.settings.button_style.label"
				},
				{
					"type": "header",
					"content": "t:sections.header.blocks.aside.settings.aside_header_2.content"
				},
				{
					"type": "checkbox",
					"id": "show_articles",
					"default": false,
					"label": "t:sections.header.blocks.aside.settings.show_articles.label"
				},
				{
					"type": "blog",
					"id": "blog",
					"label": "t:sections.header.blocks.aside.settings.blog.label"
				},
				{
					"type": "checkbox",
					"id": "show_image",
					"default": true,
					"label": "t:sections.header.blocks.aside.settings.show_image.label"
				},
				{
					"type": "checkbox",
					"id": "show_date",
					"default": true,
					"label": "t:sections.header.blocks.aside.settings.show_date.label"
				},
				{
					"type": "checkbox",
					"id": "show_author",
					"default": true,
					"label": "t:sections.header.blocks.aside.settings.show_author.label"
				},
				{
					"type": "url",
					"id": "blog_link",
					"label": "t:sections.header.blocks.aside.settings.blog_link.label"
				}
			]
		},
		{
			"type": "mega_menu",
			"name": "t:sections.header.blocks.mega_menu.name",
			"settings": [
				{
					"type": "text",
					"id": "mega_menu_trigger",
					"label": "t:sections.header.blocks.mega_menu.settings.mega_menu_trigger.label",
					"info": "t:sections.header.blocks.mega_menu.settings.mega_menu_trigger.info"
				},
				{
					"type": "header",
					"content": "t:sections.header.blocks.mega_menu.settings.mega_menu_header.content"
				},
				{
					"type": "checkbox",
					"id": "show_mega_menu_1",
					"default": false,
					"label": "t:sections.header.blocks.mega_menu.settings.show_mega_menu.label"
				},
				{
					"type": "select",
					"id": "color_scheme_1",
					"options": [
						{
							"value": "light",
							"label": "t:all.text_color_scheme.options__1.label"
						},
						{
							"value": "dark",
							"label": "t:all.text_color_scheme.options__2.label"
						}
					],
					"default": "dark",
					"label": "t:all.text_color_scheme.label"
				},
				{
					"type": "text",
					"id": "heading_1",
					"label": "t:sections.header.blocks.mega_menu.settings.heading.label",
					"info": "t:sections.header.blocks.mega_menu.settings.heading.info"
				},
				{
					"type": "text",
					"id": "description_1",
					"label": "t:sections.header.blocks.mega_menu.settings.description.label"
				},
				{
					"type": "image_picker",
					"id": "image_1",
					"label": "t:sections.header.blocks.mega_menu.settings.image.label"
				},
				{
					"type": "range",
					"id": "overlay_opacity_1",
					"min": 0,
					"max": 1,
					"step": 0.1,
					"default": 0,
					"label": "t:all.overlay_opacity.label"
				},
				{
          "type": "checkbox",
          "id": "enable_mobile_overlay_1",
          "default": false,
          "label": "t:sections.header.blocks.mega_menu.settings.enable_mobile_overlay.label",
          "info": "t:sections.header.blocks.mega_menu.settings.enable_mobile_overlay.info"
        },
				{
					"type": "header",
					"content": "t:all.button.header_button.content"
				},
				{
					"type": "checkbox",
					"id": "show_button_1",
					"label": "t:all.button.button_show.label"
				},
				{
					"type": "url",
					"id": "button_link_1",
					"label": "t:all.button.button_link.label"
				},
				{
					"type": "text",
					"id": "button_label_1",
					"default": "t:sections.header.blocks.mega_menu.settings.button_label_1.default",
					"label": "t:all.button.button_label.label"
				},
				{
					"type": "select",
					"id": "button_style_1",
					"options": [
						{
							"value": "primary",
							"label": "t:all.button.button_style.options__1.label"
						},
						{
							"value": "secondary",
							"label": "t:all.button.button_style.options__2.label"
						},
						{
							"value": "tertiary",
							"label": "t:all.button.button_style.options__3.label"
						}
					],
					"default": "primary",
					"label": "t:all.button.button_style.label"
				}
			]
		},
		{
			"type": "mega_menu_2",
			"name": "t:sections.header.blocks.mega_menu_2.name",
			"settings": [
				{
					"type": "text",
					"id": "mega_menu_2_trigger",
					"label": "t:sections.header.blocks.mega_menu.settings.mega_menu_trigger.label",
					"info": "t:sections.header.blocks.mega_menu.settings.mega_menu_trigger.info"
				},
				{
					"type": "text",
					"id": "mega_menu_2_header",
					"default": "t:sections.header.blocks.mega_menu_2.settings.mega_menu_2_header.default",
					"label": "t:sections.header.blocks.mega_menu_2.settings.mega_menu_2_header.label"
				},
				{
					"type": "collection_list",
					"id": "select_collections",
					"limit": 2,
					"label": "t:sections.header.blocks.mega_menu_2.settings.select_collections.label"
				},
				{
					"type": "select",
					"id": "image",
					"options": [
						{
							"value": "collection",
							"label": "t:sections.header.blocks.mega_menu_2.settings.image.options__1.label"
						},
						{
							"value": "product",
							"label": "t:sections.header.blocks.mega_menu_2.settings.image.options__2.label"
						},
						{
							"value": "product_hover",
							"label": "t:sections.header.blocks.mega_menu_2.settings.image.options__3.label"
						}
					],
					"default": "collection",
					"label": "t:sections.header.blocks.mega_menu_2.settings.image.label"
				}
			]
		},
		{
      "type": "mega_submenu",
      "name": "t:sections.header.blocks.mega_submenu.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.header.blocks.mega_submenu.settings.info.content"
        },
        {
          "type": "text",
          "id": "mega_submenu_trigger",
          "label": "t:sections.header.blocks.mega_submenu.settings.mega_submenu_trigger.label",
          "info": "t:sections.header.blocks.mega_submenu.settings.mega_submenu_trigger.info"
        },
        {
          "type": "checkbox",
          "id": "enable_clickable_top_level",
          "default": false,
          "label": "t:sections.header.blocks.mega_submenu.settings.enable_clickable_top_level.label"
        }
      ]
    }
	],
	"default": {
		"blocks": [
			{
				"type": "aside"
			},
			{
				"type": "mega_menu"
			}
		]
	}
}
{% endschema %}
