{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- liquid
	assign image_ratio = section.settings.image_ratio
	
	if section.settings.image != blank and section.settings.image_mobile == blank
    assign image = section.settings.image
		assign aspect_ratio = section.settings.image.aspect_ratio
  elsif section.settings.image == blank and section.settings.image_mobile != blank
    assign image = section.settings.image_mobile
		assign aspect_ratio = section.settings.image_mobile.aspect_ratio
  elsif section.settings.image == blank and section.settings.image_mobile == blank
    assign image = blank
  elsif section.settings.image != blank and section.settings.image_mobile != blank
    assign image = 1
		assign aspect_ratio = section.settings.image.aspect_ratio
  endif
-%}

{%- if image_ratio == 'adapt' and image != blank -%}
	{%- style -%}
		#Banner-{{ section.id }}.image--overlay::before, #Banner-{{ section.id }} .banner__media::before {
        padding-bottom: {{ 1 | divided_by: aspect_ratio | times: 100 }}%;
		     content: '';
		     display: block;
		   }
	{%- endstyle -%}
{%- elsif image_ratio == 'adapt' and image == blank -%}
	{%- style -%}
		#Banner-{{ section.id }}.image--overlay::before, #Banner-{{ section.id }} .banner__media::before {
					padding-bottom: 25%;
					content: '';
					display: block;
				}
	{%- endstyle -%}
{%- endif -%}

{% style %}
	 .section-{{ section.id }}-padding {
	   padding-top: {{ section.settings.padding_top | times: 0.25 | round: 0 }}px;
	   padding-bottom: {{ section.settings.padding_bottom | times: 0.25 | round: 0 }}px;
	 }

		@media screen and (min-width: 990px) {
			.section-{{ section.id }}-padding {
				padding-top: {{ section.settings.padding_top | times: 0.6 | round: 0 }}px;
				padding-bottom: {{ section.settings.padding_bottom | times: 0.6 | round: 0 }}px;
			}
		}

	 @media screen and (min-width: 1360px) {
	   .section-{{ section.id }}-padding {
	     padding-top: {{ section.settings.padding_top }}px;
	     padding-bottom: {{ section.settings.padding_bottom }}px;
	   }
	 }

	.section-{{ section.id }}-padding .banner__overlay {
	  background-color: rgba(var(--color-overlay), {{ section.settings.opacity_overlay }});
	}
{% endstyle %}

<div class="image-banner {% if section.settings.full_width %}{% else %}container{% endif %} section-{{ section.id }}-padding
	{% if section.settings.header_overlay %} section--has-overlay header--overlay{% endif %}{% if section.settings.mobile_content_overlay %} banner--content--has-overlay{% endif %}">
	<div
		id="Banner-{{ section.id }}"
		class="banner banner--{{ section.settings.image_ratio }} image--overlay 
		{% if section.settings.full_width %}banner--container{% else %}{% endif %} {% if  image == blank %}banner--padding{% endif %} color-background-3
		{% if image == blank -%} image-banner--no-image {% endif %}"
	>
		{%if image != blank %}
			{% if image != 1 %}
				<div class="banner__media media">
					<img
						srcset="
							{%- if image.width >= 375 -%}{{ image | img_url: '375x' }} 375w,{%- endif -%}
							{%- if image.width >= 750 -%}{{ image | img_url: '750x' }} 750w,{%- endif -%}
							{%- if image.width >= 1296 -%}{{ image | img_url: '1296x' }} 1296w,{%- endif -%}
							{%- if image.width >= 1500 -%}{{ image | img_url: '1500x' }} 1500w,{%- endif -%}
							{%- if image.width >= 1780 -%}{{ image | img_url: '1780x' }} 1780w,{%- endif -%}
							{%- if image.width >= 2000 -%}{{ image | img_url: '2000x' }} 2000w,{%- endif -%}
							{%- if image.width >= 2800 -%}{{ image | img_url: '2800x' }} 2800w{%- endif -%}
						"
						src="{{ image | img_url: '1296x' }}"
						loading="lazy"
						alt="{{ image.alt | escape }}"
						width="{{ image.width }}"
						height="{{ image.width | divided_by: image.aspect_ratio }}"
						style="object-position: {{ image.presentation.focal_point }}"
						class="media__image"
					>
					<span class="banner__overlay"></span>
				</div>
			{%- elsif image == 1-%}
				<div class="banner__media media">
					{% assign desktop_image = section.settings.image %}
					{% assign mobile_image = section.settings.image_mobile %}

					<picture>
						<source
							srcset="
								{{ mobile_image | image_url: width: 375 }} 375w,
								{{ mobile_image | image_url: width: 425 }} 425w,
								{{ mobile_image | image_url: width: 575 }} 575w,
								{{ mobile_image | image_url: width: 750 }} 750w
							"
							media="(max-width: 750px) "
						>
						<img
							srcset="
								{%- if desktop_image.width >= 375 -%}{{ desktop_image | img_url: '375x' }} 375w,{%- endif -%}
								{%- if desktop_image.width >= 750 -%}{{ desktop_image | img_url: '750x' }} 750w,{%- endif -%}
								{%- if desktop_image.width >= 1296 -%}{{ desktop_image | img_url: '1296x' }} 1296w,{%- endif -%}
								{%- if desktop_image.width >= 1500 -%}{{ desktop_image | img_url: '1500x' }} 1500w,{%- endif -%}
								{%- if desktop_image.width >= 1780 -%}{{ desktop_image | img_url: '1780x' }} 1780w,{%- endif -%}
								{%- if desktop_image.width >= 2000 -%}{{ desktop_image | img_url: '2000x' }} 2000w,{%- endif -%}
								{%- if desktop_image.width >= 2800 -%}{{ desktop_image | img_url: '2800x' }} 2800w{%- endif -%}
							"
							src="{{ desktop_image | img_url: '1296x' }}"
							loading="lazy"
							alt="{{ desktop_image.alt | escape }}"
							width="{{ desktop_image.width }}"
							height="{{ desktop_image.width | divided_by: desktop_image.aspect_ratio }}"
							style="object-position: {{ desktop_image.presentation.focal_point }}"
							class="media__image"
						>
						</picture>
					<span class="banner__overlay"></span>
				</div>
			{%- endif -%}
		{% elsif section.settings.header_overlay %}
			<span class="banner__overlay"></span>
		{%- endif -%}
		<div class="image-banner__wrapper {% if section.settings.text_align != 'left' %}image-banner__column--center{% endif %} {% if section.settings.full_width %}container{% else %}{% endif %}">
			{%- if section.settings.subheading != blank -%}
				<div class="image-banner__subheading subtitle">
					{{ section.settings.subheading }}
				</div>
			{%- endif -%}
			<div class="image-banner__column {% if section.settings.text_order != 'row' %}image-banner__column--column{% endif %}">
				{%- if section.settings.heading != blank -%}
					<h2 class="image-banner__heading title--section title--decorate title--section-mt-none {% if section.settings.heading_size == 'medium' %}h2{% else %}h1{% endif %}">
						{{ section.settings.heading }}
					</h2>
				{%- endif -%}

				{%- if section.settings.text_information != blank
					or section.settings.show_view_all
				-%}
					<div class="image-banner__information">
						{%- if section.settings.text_information != blank -%}
							<p class="image-banner__text">
								{{ section.settings.text_information | escape }}
							</p>
						{%- endif -%}

						{%- if section.settings.show_view_all -%}
							<a
								{% if section.settings.button_link != blank %}
									href="{{ section.settings.button_link }}"
								{% endif %}
								class="button image-banner__button button--arrow button--primary-size button--{{ section.settings.button_style }}"
								{% if section.settings.button_link == blank %}
									aria-disabled="true"
								{% endif %}
							>
								<span>
									<span>
										{{- section.settings.button_label | escape -}}
										{%- render 'icon-button-arrow' -%}
									</span>
									<span>
										{{- section.settings.button_label | escape -}}
										{%- render 'icon-button-arrow' -%}
									</span>
								</span>
							</a>
						{%- endif -%}
					</div>
				{%- endif -%}
			</div>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "t:sections.image-banner.name",
	"tag": "section",
	"class": "image-banner-section spaced-section",
	"enabled_on": {
    "templates": ["*"]
  },
	"settings": [
		{
			"type": "checkbox",
			"id": "full_width",
			"default": true,
			"label": "t:sections.image-banner.settings.full_width.label"
		},
		{
      "type": "checkbox",
      "id": "header_overlay",
      "default": false,
      "label": "t:sections.image-banner.settings.header_overlay.label"
    },
		{
			"type": "checkbox",
      "id": "mobile_content_overlay",
      "default": false,
      "label": "t:sections.image-banner.settings.mobile_content_overlay.label"
		},
		{
			"type": "text",
			"id": "subheading",
			"default": "t:sections.image-banner.settings.subheading.default",
			"label": "t:sections.image-banner.settings.subheading.label"
		},
		{
			"type": "richtext",
			"id": "heading",
			"default": "t:sections.image-banner.settings.heading.default",
			"label": "t:sections.image-banner.settings.heading.label"
		},
		{
			"type": "select",
			"id": "heading_size",
			"options": [
				{
					"value": "medium",
					"label": "t:sections.image-banner.settings.heading_size.options__1.label"
				},
				{
					"value": "large",
					"label": "t:sections.image-banner.settings.heading_size.options__2.label"
				}
			],
			"default": "medium",
			"label": "t:sections.image-banner.settings.heading_size.label"
		},
		{
			"type": "textarea",
			"id": "text_information",
			"default": "t:sections.image-banner.settings.text_information.default",
			"label": "t:sections.image-banner.settings.text_information.label"
		},
		{
			"type": "select",
			"id": "text_align",
			"options": [
				{
					"value": "left",
					"label": "t:sections.image-banner.settings.text_align.options__1.label"
				},
				{
					"value": "center",
					"label": "t:sections.image-banner.settings.text_align.options__2.label"
				}
			],
			"default": "left",
			"label": "t:sections.image-banner.settings.text_align.label"
		},
		{
			"type": "header",
			"content": "t:sections.image-banner.settings.header__1.content"
		},
		{
			"type": "checkbox",
			"id": "show_view_all",
			"default": true,
			"label": "t:sections.image-banner.settings.show_view_all.label"
		},
		{
			"type": "text",
			"id": "button_label",
			"default": "t:sections.image-banner.settings.button_label.default",
			"label": "t:sections.image-banner.settings.button_label.label"
		},
		{
			"type": "select",
			"id": "button_style",
			"options": [
				{
					"value": "primary",
					"label": "t:sections.image-banner.settings.button_style.options__1.label"
				},
				{
					"value": "secondary",
					"label": "t:sections.image-banner.settings.button_style.options__2.label"
				},
				{
          "value": "tertiary",
          "label": "t:all.button.button_style.options__3.label"
        }
			],
			"default": "primary",
			"label": "t:sections.image-banner.settings.button_style.label"
		},
		{
			"type": "url",
			"id": "button_link",
			"label": "t:sections.image-banner.settings.button_link.label"
		},
		{
			"type": "header",
			"content": "t:sections.image-banner.settings.header__2.content"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "t:sections.image-banner.settings.image.label"
		},
		{
			"type": "image_picker",
			"id": "image_mobile",
			"label": "t:sections.image-banner.settings.image_mobile.label"
		},
		{
			"type": "select",
			"id": "image_ratio",
			"options": [
				{
					"value": "adapt",
					"label": "t:sections.image-banner.settings.image_ratio.options__1.label"
				},
				{
					"value": "landscape",
					"label": "t:sections.image-banner.settings.image_ratio.options__2.label"
				}
			],
			"default": "adapt",
			"label": "t:sections.image-banner.settings.image_ratio.label"
		},
		{
			"type": "range",
			"id": "opacity_overlay",
			"min": 0,
			"max": 1,
			"step": 0.1,
			"label": "t:sections.image-banner.settings.opacity_overlay.label",
			"default": 0.5
		},
				{
			"type": "header",
			"content": "t:all.section-padding.header.content"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 0,
			"unit": "px",
			"label": "t:all.section-padding.padding_top.label"
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 0,
			"unit": "px",
			"label": "t:all.section-padding.padding_bottom.label"
		}
	],
	"presets": [
		{
			"name": "t:sections.image-banner.presets.name"
		}
	]
}
{% endschema %}
