{{ 'component-search.css' | asset_url | stylesheet_tag }}
{{ 'template-search.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-bottom: {{ section.settings.padding_bottom | times: 0.25 | round: 0 }}px;
  }

  @media screen and (min-width: 990px) {
    .section-{{ section.id }}-padding {
      padding-bottom: {{ section.settings.padding_bottom | times: 0.6 | round: 0 }}px;
    }
  }

  @media screen and (min-width: 1360px) {
    .section-{{ section.id }}-padding {
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="header-overlay--dark template-404 section-{{ section.id }}-padding">
  <div class="container">
    {% if settings.show_breadcrumbs %}
      <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
        <a href="{{ routes.root_url }}" title="{{ 'general.breadcrumbs.home' | t }}" class="link-hover-line">
          {{ 'general.breadcrumbs.home' | t }}
        </a>
        <div class="breadcrumb__delimiter"></div>
        <span>{{ page_title }}</span>
      </nav>
    {% endif %}
    <div class="page-header">
      <div class="page-header__inner">
        <h1 class="main-page-title page-title title--page">
          {{ 'templates.404.subtext' | t }}. {{ 'templates.404.title' | t }}
        </h1>
      </div>
    </div>
    <div class="search-wrapper">
      {%- if settings.predictive_search_enabled -%}
        <predictive-search data-loading-text="{{ 'accessibility.loading' | t }}">
      {%- endif -%}
      {%- if search.performed and search.results_count == 0 and search.filters == empty -%}
        <div class="search-wrapper">
      {% endif %}
      <form action="{{ routes.search_url }}" method="get" role="search" class="search">
        <p class="search__form-text">
          {{ 'templates.404.text' | t }}
        </p>
        <div class="search__form-inner">
          <div class="field">
            <input
              dir="ltr"
              class="search__input field__input"
              id="Search-In-404"
              type="search"
              name="q"
              value="{{ search.terms | escape }}"
              placeholder="{{ 'general.search.placeholder' | t }}"
              {%- if settings.predictive_search_enabled -%}
                role="combobox"
                aria-expanded="false"
                aria-owns="predictive-search-results-list"
                aria-controls="predictive-search-results-list"
                aria-haspopup="listbox"
                aria-autocomplete="list"
                autocorrect="off"
                autocomplete="off"
                autocapitalize="off"
                spellcheck="false"
              {%- endif -%}
            >
            <label class="field__label" for="Search-In-Modal">{{ 'general.search.placeholder' | t }}</label>
            <input dir="ltr" name="options[prefix]" type="hidden" value="last">

            <button class="search__button button button--primary" aria-label="{{ 'general.search.search' | t }}">
              <span>
                <span>
                  {{ 'general.search.search' | t }}
                </span>
                <span>
                  {{ 'general.search.search' | t }}
                </span>
              </span>
            </button>

            {%- if settings.predictive_search_enabled -%}
              <div class="predictive-search predictive-search--search-template" tabindex="-1" data-predictive-search>
                <div class="predictive-search__loading-state">
                  {% render 'icon-spinner' %}
                </div>
              </div>
              <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
            {%- endif -%}
          </div>
        </div>
      </form>
      {%- if search.performed and search.results_count == 0 and search.filters == empty -%}
        </div>
      {% endif %}
      {%- if settings.predictive_search_enabled -%}
        </predictive-search>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-404.name",
  "tag": "section",
  "class": "section--overlay",
  "settings": [
    {
      "type": "header",
      "content": "t:all.section-padding.header.content"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "default": 60,
      "unit": "px",
      "label": "t:all.section-padding.padding_bottom.label"
    }
  ]
}
{% endschema %}
