{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'section-products-grid.css' | asset_url | stylesheet_tag }}
<script src="{{ 'products-grid.js' | asset_url }}" defer="defer"></script>

{% comment %}theme-check-disable AssetPreload{% endcomment %}
<link
  rel="preload"
  href="{{ 'component-card.css' | asset_url }}"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
>
<link
  rel="preload"
  href="{{ 'component-price.css' | asset_url }}"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
>
<link
  rel="preload"
  href="{{ 'component-badge.css' | asset_url }}"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
>
<link
  rel="preload"
  href="{{ 'component-rte.css' | asset_url }}"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
>
{% comment %}theme-check-enable AssetPreload{% endcomment %}

{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.25 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.25 | round: 0 }}px;
  }

  @media screen and (min-width: 990px) {
    .section-{{ section.id }}-padding {
			padding-top: {{ section.settings.padding_top | times: 0.6 | round: 0 }}px;
    	padding-bottom: {{ section.settings.padding_bottom | times: 0.6 | round: 0 }}px;
    }
  }

  @media screen and (min-width: 1360px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

<noscript>{{ 'component-card.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-price.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-badge.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{% liquid
  assign grid_products = collections.all.products
  assign collection_handle = 'all'
  assign base_url = routes.all_products_collection_url
  assign total_shop_products = shop.products_count | default: 0

  if section.settings.collection != blank
    assign grid_products = section.settings.collection.products
    assign collection_handle = section.settings.collection.handle
    assign base_url = routes.collections_url | append: '/' | append: collection_handle
    assign total_shop_products = section.settings.collection.all_products_count
  endif

  if section.settings.product_list != blank
    assign grid_products = section.settings.product_list
    assign collection_handle = 'all'
    assign base_url = 'none'
    assign total_shop_products = section.settings.product_list.size
  endif

  assign sort = section.settings.sort
 
  case section.settings.sort
    when 'alphabetical'
      assign sort ='title-ascending'
    when 'alphabetical_reversed'
      assign sort ='title-descending'
    when 'products_high'
      assign sort ='price-descending'
    when 'products_low'
      assign sort ='price-ascending'
    when 'date'
      assign sort ='created-ascending'
    when 'date_reversed'
      assign sort ='created-descending'
    when 'best_selling'
      assign sort ='best-selling'
    else
      assign sort = 'manual'
	endcase

  case sort
    when 'title-ascending', 'title-descending'
      assign grid_products = grid_products | sort: 'title'
    when 'price-descending', 'price-ascending'
      assign grid_products = grid_products | sort: 'price_min'
    when 'created-ascending', 'created-descending'
      assign grid_products = grid_products | sort: 'published_at'
    when 'manual'
      assign grid_products = grid_products | sort: 'manual'
    when 'best-selling'
      assign grid_products = grid_products | sort: 'manual'
  endcase

  if sort == 'price-descending' or sort == 'created-descending' or sort == 'title-descending'
    assign grid_products = grid_products | reverse
  endif

  assign btn_link = routes.collections_url | append: '/' | append: collection_handle | append: '?sort_by=' | append: sort

  if section.settings.button_link != blank
    assign btn_link = section.settings.button_link
  endif

  assign is_dynamic_loading = false
  if total_shop_products > 50
    assign is_dynamic_loading = true
  elsif sort == 'manual' or sort == 'best-selling'
    if base_url != 'none'
      assign is_dynamic_loading = true
    endif
  endif

  if is_dynamic_loading and base_url != 'none'
    assign sort_params = '?sort_by=' | append: sort
    # Using Section Rendering API https://shopify.dev/docs/api/ajax/section-rendering
    assign collection_url = base_url | append: sort_params | append: '&section_id=' | append: section.id
    assign grid_products = collection.products
  else
    assign collection_url = 'none'
  endif
%}

<div
  class="products-grid section-{{ section.id }}-padding{% if is_dynamic_loading %} products-grid--loading{% if collection.products.size > 0 %}  products-grid--search-perfomed {% endif %}{% endif %}{{ total_shop_products }}"
  data-collection-url="{{ collection_url }}"
	data-is-dynamic-load="{{ is_dynamic_loading }}"
>
  <div class="container">
    {%- if section.settings.subheading != blank
      or section.settings.heading != blank
      or section.settings.text != blank
      or section.settings.button_show
    -%}
      <div class="products-grid__top">
        <div class="products-grid__text">
          {%- if section.settings.subheading != blank -%}
            <div class="subtitle products-grid__subtitle">
              {{- section.settings.subheading }}
            </div>
          {%- endif -%}

          {%- if section.settings.heading != blank -%}
            <{{ section.settings.heading_tag }} class="h2 products-grid__heading title--section">{{ section.settings.heading }}</{{ section.settings.heading_tag }}>
          {%- endif -%}

          {%- if section.settings.text != blank -%}
            <p class="products-grid__description">{{ section.settings.text }}</p>
          {%- endif -%}
        </div>

        {%- if section.settings.button_show -%}
          <a
            {% if btn_link != blank %}
              href="{{ btn_link }}"
            {% endif %}
            class="button products-grid__button button--simple-move"
            {% if btn_link == blank %}
              aria-disabled="true"
            {% endif %}
          >
            <span>{{ section.settings.button_label | escape }}</span>
            {% render 'icon-button-arrow' %}
          </a>
        {%- endif -%}
      </div>
    {%- endif -%}

    <div class="products-grid__products">
      <div class="loading-overlay">
        <div class="loading-overlay__spinner">
          <svg
            aria-hidden="true"
            focusable="false"
            role="presentation"
            class="spinner"
            viewBox="0 0 66 66"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
          </svg>
        </div>
      </div>

      <ul
        id="products-grid"
        data-id="{{ section.id }}"
        class="products-grid__products-items collection-product-list collection-product-list--1-mobile list-unstyled"
      >
        {% if is_dynamic_loading == false or grid_products.size > 0 %}
          {%- for product in grid_products limit: section.settings.products_per_page -%}
            <li class="collection-product-card {% if settings.quickview_hover %}quickview--hover{% endif %}">
              {% render 'product-card',
                product_card_product: product,
                media_size: section.settings.image_ratio,
                media_fit: section.settings.image_fit,
                show_secondary_image: section.settings.show_secondary_image,
                show_vendor: section.settings.show_vendor,
                show_desc: section.settings.show_desc,
                columns: 4,
                section_id: section.id,
                add_id: forloop.index,
              %}
            </li>
          {%- endfor -%}
        {% else %}
          {%- for i in (1..4) -%}
            <div class="popular-products__item_placeholder collection-popular-card collection-popular-card--placeholder">
              {% render 'product-card-placeholder', forloop: forloop %}
            </div>
          {%- endfor -%}
        {% endif %}
      </ul>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.products-grid.name",
  "tag": "section",
  "class": "products-grid-section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["*"]
  },
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.products-grid.settings.collection.label"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "t:sections.products-grid.settings.product_list.label",
      "info": "t:sections.products-grid.settings.product_list.info",
      "limit": 50
    },
    {
      "type": "paragraph",
      "content": "t:sections.products-grid.settings.text_about_products.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.products-grid.settings.text_about_dynamic.content"
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 4,
      "max": 50,
      "step": 1,
      "default": 12,
      "label": "t:sections.products-grid.settings.products_per_page.label"
    },
		{
			"type": "select",
			"id": "sort",
			"options": [
				{
          "value": "alphabetical",
          "label": "t:sections.products-grid.settings.sort.options__1.label"
        },
        {
          "value": "alphabetical_reversed",
          "label": "t:sections.products-grid.settings.sort.options__2.label"
        },
        {
          "value": "date_reversed",
          "label": "t:sections.products-grid.settings.sort.options__3.label"
        },
        {
          "value": "date",
          "label": "t:sections.products-grid.settings.sort.options__4.label"
        },
        {
          "value": "products_high",
          "label": "t:sections.products-grid.settings.sort.options__5.label"
        },
        {
          "value": "products_low",
          "label": "t:sections.products-grid.settings.sort.options__6.label"
        },
        {
          "value": "featured",
          "label": "t:sections.products-grid.settings.sort.options__7.label"
        },
        {
          "value": "best_selling",
          "label": "t:sections.products-grid.settings.sort.options__8.label"
        }
			],
			"default": "alphabetical",
			"label": "t:sections.products-grid.settings.sort.label",
			"info": "t:sections.products-grid.settings.sort.info"
		},
    {
      "type": "header",
      "content": "t:sections.products-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "landscape",
          "label": "t:sections.featured-products.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-products.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-products.settings.image_ratio.options__3.label"
        }
      ],
      "default": "portrait",
      "label": "t:sections.featured-products.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_fit",
      "label": "t:sections.featured-products.settings.image_fit.label",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.featured-products.settings.image_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.featured-products.settings.image_fit.options__2.label"
        }
      ],
      "default": "cover"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": true,
      "label": "t:sections.products-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": true,
      "label": "t:sections.products-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_desc",
      "default": false,
      "label": "t:sections.products-grid.settings.show_desc.label",
      "info": "t:sections.products-grid.settings.show_desc.info"
    },
    {
      "type": "header",
      "content": "t:sections.products-grid.settings.header__4.content"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.image-banner.settings.subheading.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.image-banner.settings.heading.label",
      "default": "t:sections.products-grid.settings.heading.default"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:all.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:all.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:all.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:all.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:all.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:all.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:all.heading_tag.options__7.label"
        },
        {
          "value": "p",
          "label": "t:all.heading_tag.options__8.label"
        }
      ],
      "default": "h2",
      "label": "t:all.heading_tag.label",
      "info": "t:all.heading_tag.info"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "t:sections.image-banner.settings.text_information.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "button_show",
      "default": true,
      "label": "t:sections.image-banner.settings.show_view_all.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "t:sections.products-grid.settings.button_label.default",
      "label": "t:sections.image-banner.settings.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.image-banner.settings.button_link.label",
      "info": "t:sections.products-grid.settings.button_link.info"
    },
    {
      "type": "header",
      "content": "t:all.section-padding.header.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 10,
      "default": 160,
      "unit": "px",
      "label": "t:all.section-padding.padding_top.label"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "default": 160,
      "unit": "px",
      "label": "t:all.section-padding.padding_bottom.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.products-grid.name"
    }
  ]
}
{% endschema %}
